.card-info {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.user-avatar-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
