.admin-page-container {
  display: flex;
  flex-direction: row;

  &>* {
    margin-right: 10px;
  }

  &>*:nth-last-child(1) {
    margin-right: 0px;
  }
}

.requests-container {
  display: flex;
  flex-direction: column;
}