.sign-up-container {
  position: absolute;
  top: 50%;
  left: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  transform: translate(-50%, -50%);

  .block-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-left: 15px;
    padding-right: 15px;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: 100%;

      &>* {
        margin: 10px 0;
      }

    }
  }

  .error-message {
    text-align: center;
  }
}