@media (max-width: 425px) {

  header,
  .main-wrapper {
    padding-left: 10px;
    padding-right: 10px;

    .main-page-container h2 {
      font-size: 100px;
    }
  }

  header .navigation-wrapper {
    height: auto;

    &.opened {
      padding-bottom: 15px;

      .navbar {
        flex-direction: column;

        width: 100%;

        margin-bottom: 25px;
      }

      .search-reg-wrapper {
        width: 100%;
      }

      .link {
        width: 100%;

        border-radius: 0;
      }
    }

    .reg-buttons-container {
      width: 100%;

      justify-content: space-around;

      .sign-in,
      .sign-up {
        height: 65px;
        width: 40%;

        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .auth-buttons-group {
    justify-content: space-around;
    flex-wrap: wrap;

    width: 100%; 

    .button {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 50px;

      padding: 10px 10px;
      margin-top: 10px;
      
      font-size: 20px;
      font-weight: bold;
      line-height: normal;
    }
  }
}