@media (max-width: 720px) {

  p,
  li {
    font-size: 18px;
  }

  input {
    height: 70px !important;
    font-size: 24px !important;
  }

  .recommendation-list {
    .recommendation-item {
      width: 100%;
      max-width: 100%;

      margin-right: 0;
    }
  }

  .quiz-info {
    .quiz-info-text {
      padding: 0;
    }

    &>svg {
      display: none;
    }
  }

  button.button.default,
  .score-section .sending-container form input {
    height: 70px;

    font-size: 26px;
  }

  .training-page-container .training-page-inner {

    .next-training {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 70px;
      width: 100%;

      background-color: #91bdb0;
      border-radius: 15px;

      color: white;
      font-size: 26px;
      text-decoration: none;
    }
  }

  .main-wrapper {

    .sign-up-container,
    .sign-in-container {
      position: relative;
      top: 0;
      left: 0;

      transform: translate(0, 0);
    }
  }
}