@media (max-width: 960px) {

  .logo-full {
    display: none;
  }

  .logo-small {
    display: block;
  }

  header,
  .main-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .score-section .sending-container {
    width: 100%;

    &>form {
      display: flex;
      flex-direction: column;
      align-items: center;

      width: 100%;
    }
  }
}