header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100px;

  padding: 0 55px;

  background-color: white;

  font-weight: bold;
  align-items: center;

  .search-reg-wrapper {
    display: flex;

    &>form {
      margin: 0 10px 0 0 !important;
    }
  }
}