.list-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  height: 50px;
  width: 100%;

  padding: 0 15px;

  background-color: white;

  color: #91bdb0;
  text-decoration: none !important;

  cursor: pointer;
  transition: background-color 300ms ease-in-out;

  &:hover,
  &:focus {
    background-color: #e8f4f4;
  }
}