.navbar {
  display: flex;
  justify-content: space-between;
  width: 600px;
}

.link {
  padding: 10px 10px;
  height: 100%;
  width: 110px;
  font-weight: 500;
  line-height: 20px;
  color: white;
  text-decoration: none;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  border-radius: 8px;
  border: 2px solid white;
  &:hover {
    color: #0094e9cc;
    background-color: white;
    transition: background-color 300ms linear;
  }
}

.active {
  color: #0094e9cc;
  background-color: white;
}
