.navbar {
  display: flex;
  justify-content: space-between;

  height: 100%;
  max-width: 600px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;

  padding: 0 15px;

  box-shadow: none;

  color: #91bdb0;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;

  overflow: hidden;
  transition: 0.3s;

  &:hover {
    box-shadow: inset 0 -5px 0 #91bdb0;

    transition: box-shadow 300ms linear ease-in-out;
  }

  .active {
    box-shadow: inset 0 -5px 0 #91bdb0;

    background-color: #91bdb0;

    color: white;

    transition: background-color 300ms linear ease-in-out, color 300ms linear ease-in-out;
  }
}