@media (max-width: 1100px) {
  header .search-reg-wrapper>form {
    display: none;
  }

  .main-wrapper .testing-container,
  .main-wrapper .training-page-container,
  .main-wrapper .consulting-page-container {
    position: relative;
    top: 0;
    left: 0;

    padding: 0;

    transform: translate(0, 0);
  }

  .admin-page-container {
    flex-wrap: wrap;

    .block-wrapper {
      margin-top: 10px;

      &:nth-child(1) {
        width: 100% !important;

        margin: 0;

        .list-wrapper {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-around;

          .list-item {
            border-radius: 10px;
          }
        }
      }

      &:nth-last-child(1) {
        flex-grow: 2;
      }
    }
  }

  .personal-page-container .block-wrapper {

    &:last-child {
      flex-grow: 2;
    }

  }
}

@media (max-width: 960px) {

  .logo-full {
    display: none;
  }

  .logo-small {
    display: block;
  }

  header,
  .main-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .score-section .sending-container {
    width: 100%;

    &>form {
      display: flex;
      flex-direction: column;
      align-items: center;

      width: 100%;
    }
  }
}

@media (max-width: 848px) {
  .personal-page-container .block-wrapper:first-child {
    width: 100% !important;
  }

  .personal-page-container .block-wrapper:nth-last-child(1) {
    width: 100% !important;
  }
}

@media (max-width: 768px) {
  .header .navbar .link {
    &:first-child {
      display: none;
    }
  }

  .sign-in-container .block-wrapper,
  .sign-up-container .block-wrapper {
    width: 100% !important;

    margin: 0 20px;
  }

  .admin-page-container .block-wrapper {
    width: 100% !important;
  }

  .testing-buttons {
    justify-content: space-between;

    .button {
      height: 75px;
    }
  }

  .answer-section {
    .answer-button {
      align-items: center;
      justify-content: center;

      height: 75px;

      margin-bottom: 25px;
    }
  }
}

@media (max-width: 720px) {

  p,
  li {
    font-size: 18px;
  }

  input {
    height: 70px !important;
    font-size: 24px !important;
  }

  .recommendation-list {
    .recommendation-item {
      width: 100%;
      max-width: 100%;

      margin-right: 0;
    }
  }

  .quiz-info {
    .quiz-info-text {
      padding: 0;
    }

    &>svg {
      display: none;
    }
  }

  button.button.default,
  .score-section .sending-container form input {
    height: 70px;

    font-size: 26px;
  }

  .training-page-container .training-page-inner,
  .consulting-page-container .consulting-page-inner {

    .next-training {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 70px;
      width: 100%;

      background-color: #91bdb0;
      border-radius: 15px;

      color: white;
      font-size: 26px;
      text-decoration: none;
    }
  }

  .main-wrapper .sign-up-container,
  .main-wrapper .sign-in-container {
    position: relative;
    top: 0;
    left: 0;

    transform: translate(0, 0);
  }

}