$body-background: #ebe4dc;
$body-font: -apple-system,
BlinkMacSystemFont,
'Segoe UI',
'Roboto',
'Oxygen',
'Ubuntu',
'Cantarell',
'Fira Sans',
'Droid Sans',
'Helvetica Neue',
sans-serif;

* {
  box-sizing: border-box;

  font-family: 'Open Sans', sans-serif;
}

BODY {
  position: relative;
  min-height: 100vh;
  margin: 0;
  background-color: $body-background;
  font-family: $body-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

A {
  text-decoration: none;
}